$accent-color: #f5b420;
$background-color: #fcfbee;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.button {
  cursor: pointer;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    padding-right: 5%;
  }
  img {
    max-height: 100%;
    padding: 5%;
  }
}

.main-window {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.side-menu {
  .button {
    height: 9.09vh;
    min-width: 220px;
    font-weight: 600;
    color: $accent-color;
  }
  .button:hover,
  .active {
    border: none;
    border-left: 0.75vh solid $accent-color;
    background-color: $background-color;
  }
}

.content-container {
  background-color: $background-color;
  padding: 3%;
  display: grid;
}

.title {
  color: $accent-color;
  text-align: center;
  margin-bottom: 1%;
}

.frame {
  background-color: white;
  padding: 1%;
  border: 1px solid #ddd;
  overflow: scroll;
  max-width: 80vw;
  height: 80vh;
  justify-self: center;
}

ul {
  display: flex;
  justify-self: center;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    height: 40px;
    min-width: 150px;
    border: 1px solid #ddd;
  }
}

.table-header {
  font-weight: bolder;
}

.new {
  height: 40px;
  background-color: white;
  justify-self: flex-end;

  font-size: 0.8em;
  font-weight: 700;
}

.new:hover {
  background-color: #b5ff98;
}
